{{> head}}

{{> flyout-nav}}
<div id="main-wrapper" class="page-wrapper">
	{{> svg}}
	<div class="section-top">
		{{> header}}
		<div class="hero">
			<h2>WE GET EXCITED BY LANDSCAPE.<br />WE ARE INSPIRED BY MANY THINGS,<br />ART, ARCHITECTURE, NATURE, SPACE.<br />WE HAVE A PASSION TO CREATE NEW<br />AND UNIQUE ENVIRONMENTAL SPACES.</h2>
		</div>

	</div>
	{{> main-content-area}}

</div><!-- end of page-wrapper -->

{{> footer}}
